repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.1
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: 'https://github.com/psf/black'
    rev: 23.10.1
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: mypy
        name: Mypy (in Venv)
        entry: mypy
        language: python
        types: [python]
        exclude: ^tests/|^docs/
        require_serial: true
